body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
}

#countlabel{
    font-size: 50px;
    font-weight: bold;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border : 2px solid rgb(13, 13, 14);
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#box{
    border: 2px solid black;
    text-align: center;
    margin-top:8em;
    margin-left: 30em;
    margin-right:30em;
    padding-top: 4em;
    padding-bottom: 4em;
    background-color:#3b0b38;
    border-radius: 15%;
    border-color: white;
    box-shadow: white;
}
h1{
    color: white;
}